card {
    background-color: lightblue;
}

.box {
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

.card {
    height: 380px;
    width: 250px;
    padding: 15px 10px;
    background-color: rgb(232, 233, 227);
    border-radius: 10px;
    margin: 60px;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: rgb(26 24 24 / 25%) 0px 5px 10px 2px;
}

.card img {
    border-radius: 10px;
}

.card h2 {
    font-size: 20px;
}
.card p {
    font-size: 14px;
}

